<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>780057141561-iqjmcihfd4jhmlku923e9gsl61ik1tf8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780057141561-iqjmcihfd4jhmlku923e9gsl61ik1tf8</string>
	<key>API_KEY</key>
	<string>AIzaSyDHprxt5WLJAmBLg-OQJ5HSUGzB3FAvILs</string>
	<key>GCM_SENDER_ID</key>
	<string>780057141561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>im.iGap</string>
	<key>PROJECT_ID</key>
	<string>igap-im</string>
	<key>STORAGE_BUCKET</key>
	<string>igap-im.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:780057141561:ios:369f919b7d16303f</string>
	<key>DATABASE_URL</key>
	<string>https://igap-im.firebaseio.com</string>
</dict>
</plist>
